@model infrastructurre.DTO.CustomerDTO

<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div class="Customer">
    </div><!-- End Page Title -->
    <section class="section">
            <div class="col-lg-12">
                <div class="ibox-title">
                    <a href="/CustomerControllers/List" class="btn btn-w-m btn-outline-primary m-l m-b-xs"><i class="fa fa-plus"></i> Back to list</a>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <h1 class="card-title font-bold">Add Customer</h1>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Customer</h5>
                            @using (Html.BeginForm(FormMethod.Post, new { @Class = "row g-3" }))
                            {
                                <div class="    col-md-4">
                                    <label for="inputText" class="form-label">CustomerName</label>
                                    @Html.TextBoxFor(a => a.CustomerName, new { type = "text", placeholder = "Name", @Class = "form-control", required = "required" })
                                    <div class="invalid-feedback">
                                        @Html.ValidationMessageFor(a => a.CustomerName, null, new { @Class = "text-danger" })
                                    </div>

                                </div>
                                <div class="    col-md-4">
                                    <label for="inputText" class="form-label">Email</label>
                                    @Html.TextBoxFor(a => a.CustomerEmail, new { type = "text", placeholder = "Email", @Class = "form-control", required = "required" })
                                    <div class="invalid-feedback">
                                        @Html.ValidationMessageFor(a => a.CustomerEmail, null, new { @Class = "text-danger" })
                                    </div>

                                </div>
                                <div class="    col-md-4">
                                    <label for="inputText" class="form-label">Phonenumber</label>
                                    @Html.TextBoxFor(a => a.CustomerPhone, new { type = "text", placeholder = "Phonenumber", @Class = "form-control", required = "required" })
                                    <div class="invalid-feedback">
                                        @Html.ValidationMessageFor(a => a.CustomerPhone, null, new { @Class = "text-danger" })
                                    </div>

                                </div>
                                <div class="    col-md-4">
                                    <label for="inputText" class="form-label">Address</label>
                                    @Html.TextBoxFor(a => a.Address, new { type = "text", placeholder = "Address", @Class = "form-control", required = "required" })
                                    <div class="invalid-feedback">
                                        @Html.ValidationMessageFor(a => a.Address, null, new { @Class = "text-danger" })
                                    </div>

                                </div>

                                <div class="col-15">
                                    <button class="btn btn-primary" type="submit">Save form</button>
                                </div>



                            }
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>

</html>